OPENAI_API_KEY= #token for the encoding model (text3small)
DATABASE_URL= #location of the database (with the password encoded)
ANTHROPIC_API_KEY= # token for anthropic (only used for the model response, you can switch to openai if you want)